@model IEnumerable<PizzaEverisDay.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Pedidos:</h1>

<p>
    <a asp-action="Create">Novo Pedido</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_Pedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco_Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Forma_De_Pagamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CPF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data_Pedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco_Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Forma_De_Pagamento)
                </td>
                <td>
                    Ações
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPedido">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdPedido">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdPedido">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
