
@model List<PizzaEverisDay.Models.Produtos>

@{
    ViewData["Title"] = "Read";
}

<table class="table">
    <tr>
        <th>Nº Produto</th>
        <th>Produto</th>
        <th>Preco</th>
        <th>Tamanho</th>
        <th>Descricao</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id_Produto</td>
            <td>@item.Nome</td>
            <td>@item.Preco</td>
            <td>@item.Tamanho</td>
            <td>@item.Descricao</td>
        </tr>
    }
</table>
<input type="button"
       value="Retornar"
       onclick="location.href='<%: http://localhost:21965/Cadastro %>'" />